.newsletter {
    margin-top: 30px;
    padding: 20px;
    background:#4E6E58;

    h2,h6 {
        color:#EBCFB2;
    }
}

.form-subscribe {
    max-width: 600px;
    margin: 0 auto;

    .form-control {
        background-color:hsla(0,0%,100%,.8);
        padding-left: 24px;
        padding-right: 24px;
        letter-spacing: 1px;
        border: none;
        border-top-left-radius: 36px;
        border-bottom-left-radius: 36px;
    }

    .form-control.focus,.form-control:focus {
        z-index:2;
        background-color:hsla(0,0%,100%,.8);
    }

    .btn {
        border-top-right-radius: 36px;
        border-bottom-right-radius: 36px;
        background: #5C80BC;
        border-color: #5C80BC;
        height: 46.5px;
    }
}